In [311]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

#!conda install -c conda-forge geopy --yes 
#!from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
print('Libraries imported.')

Libraries imported.

In [312]:
#data1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=1)[0]
#print(data1)

In [313]:
import urllib.request
import bs4 as bs

In [314]:
source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()
soup = bs.BeautifulSoup(source,'lxml')
table = soup.find('table', attrs={'class':'wikitable sortable'})
table_rows = table.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighbourhood"])
df.head()

  Postcode       Borough       Neighbourhood
0     None          None                None
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

In [315]:
# Delete the first row with postcode as 0
df = df.iloc[1:]
df.head()

  Postcode           Borough       Neighbourhood
1      M1A      Not assigned      Not assigned\n
2      M2A      Not assigned      Not assigned\n
3      M3A        North York         Parkwoods\n
4      M4A        North York  Victoria Village\n
5      M5A  Downtown Toronto      Harbourfront\n

In [316]:
df.shape

(288, 3)

# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [317]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df.shape
df = df[~df['Borough'].isin(['Not assigned'])]
df.shape

(211, 3)

In [318]:
df.head()

  Postcode           Borough       Neighbourhood
3      M3A        North York         Parkwoods\n
4      M4A        North York  Victoria Village\n
5      M5A  Downtown Toronto      Harbourfront\n
6      M5A  Downtown Toronto       Regent Park\n
7      M6A        North York  Lawrence Heights\n

In [319]:
df.sort_values('Postcode', axis=0, ascending=True, inplace=True)
# remove all '\n' values from the dataframe
df = df.replace('\n','', regex=True)

In [320]:
# rstrip all Neighbourhood column
df['Neighbourhood'] = df['Neighbourhood'].str.strip()
df['Borough'] = df['Borough'].str.strip()

In [321]:
df.head()

   Postcode      Borough   Neighbourhood
12      M1B  Scarborough           Rouge
13      M1B  Scarborough         Malvern
30      M1C  Scarborough      Port Union
29      M1C  Scarborough      Rouge Hill
28      M1C  Scarborough  Highland Creek

In [322]:
df = df.replace('\n','', regex=True)
df.head()

   Postcode      Borough   Neighbourhood
12      M1B  Scarborough           Rouge
13      M1B  Scarborough         Malvern
30      M1C  Scarborough      Port Union
29      M1C  Scarborough      Rouge Hill
28      M1C  Scarborough  Highland Creek

# More than one neighborhood can exist in one postal code area

In [323]:
torantodf = pd.DataFrame(columns=['Postcode', 'Borough', 'Neighbourhood'])
prev_postcode = ''
prev_neighbourhood = ''
prev_borough = ''
unssigned = 'Not assigned'
for index, row in df.iterrows():
    if(row['Postcode'] == prev_postcode):
        prev_neighbourhood = prev_neighbourhood + ',' + row['Neighbourhood']
    else:
        # copy to new df
        torantodf.loc[len(torantodf)] = [prev_postcode,prev_borough ,prev_neighbourhood]
        prev_postcode = row['Postcode']
        prev_borough = row['Borough']
        prev_neighbourhood = row['Neighbourhood']
        
torantodf.shape

(103, 3)

In [324]:
# Delete the first row with postcode as blank
torantodf = torantodf.iloc[1:]
torantodf.head(20)

   Postcode      Borough                                      Neighbourhood
1       M1B  Scarborough                                      Rouge,Malvern
2       M1C  Scarborough               Port Union,Rouge Hill,Highland Creek
3       M1E  Scarborough                    Guildwood,Morningside,West Hill
4       M1G  Scarborough                                             Woburn
5       M1H  Scarborough                                          Cedarbrae
6       M1J  Scarborough                                Scarborough Village
7       M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
8       M1L  Scarborough                      Golden Mile,Oakridge,Clairlea
9       M1M  Scarborough      Cliffcrest,Scarborough Village West,Cliffside
10      M1N  Scarborough                         Cliffside West,Birch Cliff
11      M1P  Scarborough  Wexford Heights,Dorset Park,Scarborough Town C...
12      M1R  Scarborough                                   Maryvale,Wexford
13      M1S  Scarborough                                          Agincourt
14      M1T  Scarborough              Sullivan,Clarks Corners,Tam O'Shanter
15      M1V  Scarborough  Milliken,Agincourt North,L'Amoreaux East,Steel...
16      M1W  Scarborough                                    L'Amoreaux West
17      M1X  Scarborough                                        Upper Rouge
18      M2H   North York                                  Hillcrest Village
19      M2J   North York                         Fairview,Oriole,Henry Farm
20      M2K   North York                                    Bayview Village

# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [331]:
unssigned = 'Not assigned'
mvalue = ''
location = 0
for index, row in torantodf.iterrows():
    if(row['Neighbourhood'] == unssigned):
        row['Neighbourhood'] = row['Borough']

In [332]:
torantodf.head(15)

   Postcode      Borough                                      Neighbourhood
1       M1B  Scarborough                                      Rouge,Malvern
2       M1C  Scarborough               Port Union,Rouge Hill,Highland Creek
3       M1E  Scarborough                    Guildwood,Morningside,West Hill
4       M1G  Scarborough                                             Woburn
5       M1H  Scarborough                                          Cedarbrae
6       M1J  Scarborough                                Scarborough Village
7       M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
8       M1L  Scarborough                      Golden Mile,Oakridge,Clairlea
9       M1M  Scarborough      Cliffcrest,Scarborough Village West,Cliffside
10      M1N  Scarborough                         Cliffside West,Birch Cliff
11      M1P  Scarborough  Wexford Heights,Dorset Park,Scarborough Town C...
12      M1R  Scarborough                                   Maryvale,Wexford
13      M1S  Scarborough                                          Agincourt
14      M1T  Scarborough              Sullivan,Clarks Corners,Tam O'Shanter
15      M1V  Scarborough  Milliken,Agincourt North,L'Amoreaux East,Steel...

In [333]:
torantodf.shape

(102, 3)

In [334]:
#Geospatial_Coordinates.csv
# makes the passed rows header 
#df = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighbourhood"])
newdf = pd.read_csv("Geospatial_Coordinates.csv")
#newdf = pd.read_csv("Geospatial_Coordinates.csv", header = None)

In [335]:
newdf.shape

(103, 3)

In [336]:
newdf.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [337]:
#torantodf.head()
originaldf = torantodf.copy()
originaldf.head()

  Postcode      Borough                         Neighbourhood
1      M1B  Scarborough                         Rouge,Malvern
2      M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
3      M1E  Scarborough       Guildwood,Morningside,West Hill
4      M1G  Scarborough                                Woburn
5      M1H  Scarborough                             Cedarbrae

In [270]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [338]:
torantodf.sort_values('Postcode', axis=0, ascending=True, inplace=True)
newdf.sort_values('Postcode', axis=0, ascending=True, inplace=True)

In [309]:
#torantodf = originaldf.copy()

In [339]:
torantodf.head()

  Postcode      Borough                         Neighbourhood
1      M1B  Scarborough                         Rouge,Malvern
2      M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
3      M1E  Scarborough       Guildwood,Morningside,West Hill
4      M1G  Scarborough                                Woburn
5      M1H  Scarborough                             Cedarbrae

# Merge the Torantodf with the "Geospatial_Coordinates.csv" with postcode as the key

In [357]:
torantodf['g'] = torantodf.groupby('Postcode').cumcount()
newdf['g'] = newdf.groupby('Postcode').cumcount()
torantodf.merge(newdf).drop('g',1)
toranto_table = pd.merge(torantodf,newdf,on=["Postcode", 'g'],how='outer').drop('g',1)

In [358]:
toranto_table

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile,Oakridge,Clairlea",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Scarborough Village West,Cliffside",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West,Birch Cliff",43.692657,-79.264848
10,M1P,Scarborough,"Wexford Heights,Dorset Park,Scarborough Town C...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Sullivan,Clarks Corners,Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Milliken,Agincourt North,L'Amoreaux East,Steel...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview,Oriole,Henry Farm",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills,York Mills",43.757490,-79.374714
21,M2M,North York,"Willowdale,Newtonbrook",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Don Mills South,Flemingdon Park",43.725900,-79.340923
28,M3H,North York,"Wilson Heights,Downsview North,Bathurst Manor",43.754328,-79.442259
29,M3J,North York,"Northwood Park,York University",43.767980,-79.487262
30,M3K,North York,"Downsview East,CFB Toronto",43.737473,-79.464763
31,M3L,North York,Downsview West,43.739015,-79.506944
32,M3M,North York,Downsview Central,43.728496,-79.495697
33,M3N,North York,Downsview Northwest,43.761631,-79.520999
34,M4A,North York,Victoria Village,43.725882,-79.315572
35,M4B,East York,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937
36,M4C,East York,Woodbine Heights,43.695344,-79.318389
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
38,M4G,East York,Leaside,43.709060,-79.363452
39,M4H,East York,Thorncliffe Park,43.705369,-79.349372
40,M4J,East York,East Toronto,43.685347,-79.338106
41,M4K,East Toronto,"The Danforth West,Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West,India Bazaar",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
45,M4P,Central Toronto,Davisville North,43.712751,-79.390197
46,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
47,M4S,Central Toronto,Davisville,43.704324,-79.388790
48,M4T,Central Toronto,"Moore Park,Summerhill East",43.689574,-79.383160
49,M4V,Central Toronto,"South Hill,Rathnelly,Summerhill West,Deer Park...",43.686412,-79.400049
50,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
51,M4X,Downtown Toronto,"Cabbagetown,St. James Town",43.667967,-79.367675
52,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
53,M5A,Downtown Toronto,"Regent Park,Harbourfront",43.654260,-79.360636
54,M5B,Downtown Toronto,"Ryerson,Garden District",43.657162,-79.378937
55,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
56,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
57,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
58,M5H,Downtown Toronto,"King,Adelaide,Richmond",43.650571,-79.384568
59,M5J,Downtown Toronto,"Toronto Islands,Harbourfront East,Union Station",43.640816,-79.381752
60,M5K,Downtown Toronto,"Toronto Dominion Centre,Design Exchange",43.647177,-79.381576
61,M5L,Downtown Toronto,"Commerce Court,Victoria Hotel",43.648198,-79.379817
62,M5M,North York,"Lawrence Manor East,Bedford Park",43.733283,-79.419750
63,M5N,Central Toronto,Roselawn,43.711695,-79.416936
64,M5P,Central Toronto,"Forest Hill North,Forest Hill West",43.696948,-79.411307
65,M5R,Central Toronto,"The Annex,Yorkville,North Midtown",43.672710,-79.405678
66,M5S,Downtown Toronto,"University of Toronto,Harbord",43.662696,-79.400049
67,M5T,Downtown Toronto,"Kensington Market,Grange Park,Chinatown",43.653206,-79.400049
68,M5V,Downtown Toronto,"Railway Lands,South Niagara,Harbourfront West,...",43.628947,-79.394420
69,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
70,M5X,Downtown Toronto,"Underground city,First Canadian Place",43.648429,-79.382280
71,M6A,North York,"Lawrence Manor,Lawrence Heights",43.718518,-79.464763
72,M6B,North York,Glencairn,43.709577,-79.445073
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village,Dufferin",43.669005,-79.442259
77,M6J,West Toronto,"Trinity,Little Portugal",43.647927,-79.419750
78,M6K,West Toronto,"Exhibition Place,Brockton,Parkdale Village",43.636847,-79.428191
79,M6L,North York,"North Park,Downsview,Upwood Park",43.713756,-79.490074
80,M6M,York,"Silverthorn,Mount Dennis,Keelesdale,Del Ray",43.691116,-79.476013
81,M6N,York,"The Junction North,Runnymede",43.673185,-79.487262
82,M6P,West Toronto,"High Park,The Junction South",43.661608,-79.464763
83,M6R,West Toronto,"Roncesvalles,Parkdale",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede,Swansea",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
88,M8V,Etobicoke,"Mimico South,New Toronto,Humber Bay Shores",43.605647,-79.501321
89,M8W,Etobicoke,"Long Branch,Alderwood",43.602414,-79.543484
90,M8X,Etobicoke,"Old Mill North,Montgomery Road,The Kingsway",43.653654,-79.506944
91,M8Y,Etobicoke,"Old Mill South,King's Mill Park,Humber Bay,The...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale,West Deane Park,Princess Gardens,Ma...",43.650943,-79.554724
95,M9C,Etobicoke,"Old Burnhamthorpe,Markland Wood,Eringate,Bloor...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Humberlea,Emery",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Richview Gardens,Kingsview Village,St. Phillip...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,NaN,NaN,43.706748,-79.594054

In [353]:
toranto_table.shape

(103, 5)